/* html {
  scroll-behavior: smooth;
} */

.info {
  /* background: #c9c1ac; */
  /* background: #cf9c19; */

  /* background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */

  /* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(223,207,13,1) 0%, rgba(0,134,255,1) 61%); */

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(131, 7, 48) 0%,
    rgb(1, 23, 44) 61%
  );
}
body {
  font-family: 'Kalam', cursive;
  color: #292929;

  /* background: url(https://giphy.com/gifs/XDd5b7NUbS1C1PMjUl/html5); */ /*video*/
  /* background: url(https://media.giphy.com/media/3Fox4sRv6aRS9bCggt/giphy.gif) center/cover
    fixed no-repeat; */
  background: url(../images/bg-image-2.jpg) center/cover fixed no-repeat;
}

#course-items,
#team,
#contact,
#partners {
  padding-top: 10rem;
  min-height: 100vh;
}

#jobday-title {
  /* color: #242424; */
  color: #f1fffa;
  align-self: center;
  text-align: right;
  font-size: 25px;
}

.primary-color {
  color: #d3325f;
}

.primary-color-social {
  color: #f1fffa;
}

.info h2 {
  word-spacing: 0.6rem;
}

.info a {
  transition: color 1.3s ease-in-out;
}
.info a:hover {
  color: #242424;
}

/*#######################   header  #######################*/

#header {
  min-height: calc(100vh - 94px);
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.62),
      rgba(0, 0, 0, 0.62)
    ),
    url(../images/banner-1.jpg);

  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  /* for positioning link order online to be relative: header is parent container */
  position: relative;
}

.height-90 {
  min-height: calc(100vh - 94px);
}

.banner h1 {
  /* border-top: 6px dotted #c9c1ac; */
  /* border-bottom: 6px dotted #c9c1ac; */
  border-top: 6px dotted #7e7c7c;
  border-bottom: 6px dotted #7e7c7c;
  animation: fromLeft;
  animation-duration: 4s;
  animation-delay: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.main-btn {
  color: #f1fffa;
  background: #292929;
  font-size: 2rem;
  border: 2px solid #f1fffa;
  transition: all 1s ease-in-out;
  animation-fill-mode: forwards;
}

.main-btn:hover {
  color: #242424;
  border: 2px solid #242424;
  background: #f1fffa;
  animation-fill-mode: forwards;
}

.main-btn-animation {
  animation: fromRight;
  animation-duration: 4s;
  animation-delay: 2s;
  /* opacity: 0.3; */
  animation-fill-mode: forwards;
}

@keyframes fromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
    opacity: 0.7;
  }
}

.header-link {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  background: #c9c1ac;
  border-radius: 10px;
  transition: all 1.2s ease;
  animation: fromBottom;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.header-link:hover {
  color: #242424;
}
@keyframes fromBottom {
  0% {
    transform: translateY(-8px);
    /* opacity: 0; */
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
    /* opacity: 1; */
  }
}

/*###################  course items  #######################*/
hr.section-divide {
  border: 0;
  height: 2px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.title-sections {
  color: #f1fffa;
  text-align: center;
  font-size: 70px;
  text-decoration: wavy;
  text-decoration-color: #c9c1ac;
}

.img-thumbnail img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.item-container {
  position: relative; /*for the link*/
  overflow: hidden; /*for zoom-in effect*/
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  transition: all 1.2s ease;
}

.item-img {
  transition: all 1.2s ease;
}

.item-container:hover .item-img {
  transform: scale(1.2);
  opacity: 0.7;
}

.item-link {
  /* color: #f72560; */
  /* color: #af0636; */
  color: #f1fffa;
  font-size: 2rem;
  font-weight: bold;
  padding: 4px;
  /* border-top: 3px solid rgb(84, 243, 187); */
  /* border-top: 3px solid rgb(16, 250, 168);
  border-bottom: 3px solid rgb(16, 250, 168); */

  border-top: 3px solid rgb(160, 233, 26);
  border-bottom: 3px solid rgb(0, 0, 0);

  /* background: linear-gradient(rgba(84,243,187,0.4), rgba(0, 0, 0,0.4));  */

  /* background: linear-gradient(
    rgba(255, 255, 255, 0.63),
    rgba(255, 255, 255, 0.63)
  ); */
  background: linear-gradient(rgb(160, 233, 26), rgb(0, 0, 0));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1.2s ease;
  opacity: 1;
}

.item-container:hover .item-link {
  opacity: 1;
  /* background: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0,0.4));  */
}
.item-link:hover {
  color: #f1fffa;
  /* border: 3px solid #c9c1ac; */
  border: 3px solid #f1fffa;
  /* background-color: #c9c1ac; */
  color: #242424;
}

.item-container:hover {
  outline: 8px solid #d3325f;
  outline-offset: 0.9rem;
}

/*#################   card  #######################*/

.team-icons a {
  color: #3b5998;
  transition: all 1.2s ease-in-out;
}

.team-icons a:hover {
  /* color: #242424; */
  color: #f1fffa;
  transform: translateY(-5px);
}

.team-icons .btn-personal-site {
  color: #f1fffa;
  align-items: right;
}

.team-icons .btn-personal-site:hover {
  color: #f1fffa;
  background: #242424;
  border: 2px solid #f1fffa;
  align-items: right;
}

.team-card {
  overflow: hidden;
  transition: all 1.6s ease-in-out;
  color: #242424;
}

.team-card:hover {
  overflow: hidden;
  /* transition: all 1.6s ease-in-out; */
  color: #f1fffa;
  /* background: linear-gradient(rgba(241, 255, 250, 0.66), rgba(241, 255, 250, 0.66)); */
  /* background: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)); */
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  opacity: 0.86;
  transform: scale(1.1);
}

/*##############    Contact section   ####################*/
.height-60 {
  min-height: 60vh; /* for the google map */
}

#contact .card {
  background: rgba(0, 0, 0, 0.5);
  transition: all 2s ease;
}

#contact .car:hover {
  background: rgba(0, 0, 0, 0.8);
}

#contact .card-header {
  color: #d3325f;
}

#contact .card-header h6 {
  color: #f1fffa;
}

#contact .input-group-text {
  background: #d3325f;
  border-color: #d3325f;
  color: #242424;
}

#contact .card input {
  color: #242424;
}

#contact .card input::placeholder {
  color: #7a7979;
}

.contact-btn {
  color: #d3325f;
  font-weight: bold;
  border-color: #d3325f;
  background: transparent;
  transition: all 1.2s ease-in-out;
}

.contact-btn:hover {
  color: #f1fffa;
  background: #d3325f;
}

/*##########    footer    ##################*/
#back-to-top {
  background: #c9c1ac;
  border-radius: 10px;
  display: inline-block;
}

.scrollTop {
  position: fixed;
  bottom: 70px;
  right: 10px;
}

#footer,
#top-icons {
  /* background: #c9c1ac; */
  opacity: 0.86;
}
#copyright {
  color: #f1fffa;
  font-weight: normal;
  align-content: right;
}

/*#####################   navbar    ########################*/
.navbar {

  /* background: linear-gradient(rgb(243, 97, 97), rgb(0, 0, 0)); */
  background: linear-gradient(rgb(160, 233, 26), rgb(0, 0, 0));
  /* background: linear-gradient(rgb(0, 0, 0), rgb(160, 233, 26)); */

  padding: 20px 20px;
  transition: all 1s ease;
  opacity: 1;
}

/* for when you scroll and navbar becomes sticky ==> padding change top bottom  */
.navbar-background {
  padding: 5px 20px;
}

.navbar-brand {
  font-size: 30px;
  transition: all 1s ease;
  color: #f1fffa;
}

.navbar-brand:hover {
  color: #242424;
}

.nav-link {
  /* color: #242424; */
  color: #f1fffa;
  text-decoration: none;
  transition: all 1.2s ease;
  font-size: 23px;
  font-weight: bold;
}

.nav-link:hover {
  color: #d3325f;
}

#nav-contact-us {
  background: #242424;
  color: #f1fffa;
  transition: all 1.2s ease;
  font-weight: normal;
  font-size: 16px;
  border: 2px solid #f1fffa;
}

#nav-contact-us:hover {
  background: #f1fffa;
  color: #242424;
  border: 2px solid #242424;
  transform: rotate(7deg);
}

.toggler-btn {
  border: 2px solid #d3325f;
  padding: 5px;
  transition: all 1.2s ease;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: #d3325f;
  transition: all 0.5s ease;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

#course-items,
#team,
#contact {
  margin-top: 5rem;
}

/*#################   partners    #######################*/
#partners {
  /* background: #c9c1ac; */
  /* background: rgb(201, 193, 172); */
  /* background: rgba(255, 255, 255, 0.18); */
  background: rgba(255, 255, 255, 0.3);

  padding-top: 8rem;
  clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%);
}

.partner-container {
  /* position: relative; //for the link */
  /* overflow: hidden; for zoom-in effect */
  /* background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)); */
  background:transparent;
  border: none;
  margin: auto;    
  display: block;
  /* transition: all 1.2s ease; */
  
}
